<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <div th:replace="/fragments/styling :: head-style"></div>
    
    <title>Index</title>
  </head>
  <body>
  
  <div th:replace="fragments/navbar :: navbar"></div>
  <div class="container">
		<a href="/recipes/add" class="btn btn-success">Add A New Recipe!</a>
		<div class="row">
			<div th:each="recipe:${recipes}">
				<div class="col-12">
					<div class="card text-center bg-white text-success">
						<div class="card-header">
							<h3 th:text="${recipe.title}" class="card-title"></h3>
						</div>
					
					</div>
				</div>
			</div>
		</div>
  </div>
    
<div th:replace="/fragments/styling :: body-links"></div>
</body>
</html>