<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <div th:replace="/fragments/styling :: head-style"></div>
    
    <title>Index</title>
  </head>
  <body class="topMargLetter">
  
  <div th:replace="fragments/navbar :: navbar"></div>
  <div class="container">
		<a href="/recipes/add" class="btn btn-success">Add A New Recipe!</a>
		<div class="row justify-content-center">
			<div th:each="recipe:${recipes}">
				<div class="col-6">
					<div class="card text-center bg-white text-success">
						<div class="card-header">
							<h3 th:text="${recipe.title}" class="card-title"></h3>
							<p th:text="${recipe.instructions}" />
						</div>
					
					</div>
				</div>
			</div>
		</div>
  </div>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title" bold>Freebie</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text">Well you take understanding, add a dash of love, a sprinkle of compassion and all the patience you can muster. let it bake in the heart at 98°, Now you have a freshly baked love for humanity.</p>
  </div>
</div>
    
<div th:replace="/fragments/styling :: body-links"></div>
</body>
</html>