	<div th:fragment="navbar">
			<audio autoplay> 
			  <source th:src="@{/images/singing.mp3}">
			</audio>
		<nav class="navbar navbar-expand-lg navbar-light grad1">
		  <a class="navbar-brand" href="/"><img class="topIcon" src="http://epmgaa.media.clients.ellingtoncms.com/img/croppedphotos/2016/11/21/newsbrief_t580.png?8f1b5874916776826eb17d7e67de7278c987ca33"/>
		 </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse navbackground" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link navText" href="/"><b>Home</b></a>
		      </li>
		      <li>
		      	<a class="nav-link navText2" href="/letters/new_letter"><b>Send A Letter to Santa!</b></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link navText2" href="#"><b>All About Christmas...</b></a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle dropDown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item navText3" href="/letters/christmas-history"><b>The Christmas Story</b></a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item navText3" href="/letters/explore"><b>Explore Christmas around the world</b></a>
		        </div>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link navText2" href="#"><b>Contact Us</b></a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</div>