	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="grad1">
		  <a class="navbar-brand" href="#"><img class="topIcon" src="http://epmgaa.media.clients.ellingtoncms.com/img/croppedphotos/2016/11/21/newsbrief_t580.png?8f1b5874916776826eb17d7e67de7278c987ca33"/>
		 </a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="/">Home</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Explore</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="/letters/new-letter">Send A Letter to Santa</a>
		          <a class="dropdown-item" href="#">The Christmas Story</a>
		          <div class="dropdown-divider"></div>
		          <a class="dropdown-item" href="#">Explore Christmas around the world</a>
		        </div>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link disabled" href="#">Contact Us</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</div>