<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <div th:replace="/fragments/styling :: head-style"></div>
    
    <title>The History of Christmas</title>
  </head>
  <body class="topMargLetter">
  	<div th:replace="fragments/navbar :: navbar" ></div>
  	<div class="container">
  		<div class="xmasHistory">
  			<h1>The History of Christmas</h1>
  	
  			<iframe width="560" height="315" src="https://www.history.com/embed/10639427779" frameborder="0" allowfullscreen></iframe>
  		</div>
  	</div>
  	
  	<div th:replace="/fragments/styling :: body-links"></div>
  	</body>
</html>