<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:include="/fragments/styling :: head-style">
    <title>Edit Letter</title>
  </head>
  <body>
  <div th:replace="fragments/navbar :: navbar" ></div>
  
  <div class="containerBig">
  <div class="card firstCard bodyText m-5">
    <div class="card-body">
    <h3 class="card-title">Need to make some changes?</h3>
    <form action="#" th:action="@{/letters/update}" th:object="${letter}" th:method="put">
				<input type="hidden" th:field="*{id}"></input>
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{name}" placeholder="What's your name?" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{address}" placeholder="What town are you from?" />
				</div>
				<div class="form-group">
					<textarea type="text" class="form-control" th:field="*{letterEntry}" placeholder="Write your letter!" rows="3" />
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" th:field="*{nice}" id="niceOrNaughty" />
					<label class="form-check-label" for="niceOrNaughty">Were you nice this year?</label>
				</div>
				<button type="submit" class="btn btn-light">Send Your Final Letter - NO TAKEBACKS!</button>

		</form>
	</div>
	</div>
	</div>
	
	
    <div th:replace="/fragments/styling :: body-links"></div>
    </body>
</html>