<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <div th:replace="/fragments/styling :: head-style"></div>
    
    <title>Edit Letter</title>
  </head>
  <body>
  <div class="container">
    <h2>Need to make some changes?</h2>
    <form action="#" th:action="@{/letters/update}" th:object="${letter}" method="put">
				<input type="hidden" th:field="*{id}"></input>
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{name}" placeholder="What's your name?" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{address}" placeholder="What town are you from?" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{letterEntry}" placeholder="Write your letter!" />
				</div>
				<div class="form-group form-check">
					<input type="checkbox" class="form-check-input" th:field="*{nice}" id="niceOrNaught" />
					<label class="form-check-label" for="niceOrNaughty">Were you nice this year?</label>
				</div>
				<button type="submit" class="btn btn-success">Send Your Letter!</button>

		</form>
	</div>
	
	
    <div th:replace="/fragments/styling :: body-links"></div>
    </body>
</html>