<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="/fragments/styling :: head-style">
	<title>Letters To Santa</title>
	
	</head>
	<body>
		
		<div th:replace="fragments/navbar :: navbar" ></div>
		
		<div class="row">
		  <div class="col-sm-6 col-offset-sm-3">
		    <div class="card">
		      <div class="card-body firstCard">
		        <h5 class="card-title bodyText">Send a Letter to Santa</h5>
		        <p class="card-text bodyText">We know you've been waiting all year to tell Santa how good you were! Click the button below to get started</p>
		        <a href="/letters/new_letter" class="btn btn-success buttonStyle">Start Letter</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-sm-offset-3">
		    <div class="card firstCard">
		      <div class="card-body">
		        <h5 class="card-title bodyText">Explore the World</h5>
		        <p class="card-text bodyText">Curious about how the rest of the world celebrates Christmas?</p>
		        <a href="/letters/explore" class="btn btn-success buttonStyle">Go somewhere</a>
		      </div>
		    </div>
		  </div>
		</div>
	
		<div class="row ">
		  <div class="col-sm-6 col-sm-offset-3">
		    <div class="card">
		      <div class="card-body firstCard">
		        <h5 class="card-title bodyText">Holiday Recipes</h5>
		        <p class="card-text bodyText">Get ready to smell Christmas all through the house with these recipes to kick-start your holiday fun!</p>
		        <a href="/recipes" class="btn btn-success buttonStyle">Recipes</a>
		      </div>
		    </div>
		  </div>
		  <div class="col-sm-6 col-sm-offset-3 bottom">
		    <div class="card">
		      <div class="card-body firstCard ">
		        <h5 class="card-title bodyText">Christmas Traditions</h5>
		        <p class="card-text bodyText">Look no further for a list of some of the most popular Christmas traditions!</p>
		        <a href="/letters/christmas-history" class="btn btn-success buttonStyle">Traditions</a>
		      </div>
		    </div>
		  </div>
		</div>
	
	
	<div th:replace="/fragments/styling :: body-links"></div>
	</body>
</html>
