<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="/fragments/styling :: head-style"></div>
	<title>Your Letter to Santa</title>
</head>
<body>
	<div th:replace="fragments/navbar :: navbar" ></div>
	
	<div class="containerBig">
	<div class="row">
  <div class="col-sm-6">
    <div class="card postcard">
      <div class="card-body">
		<h3 class="nameLetter" th:inline="text">From: [[${letter.name}]]</h3>
		<h5 class="card-title postcardTitle">Dear Santa, </h5>
		<h3 th:inline="text">Hometown: [[${letter.address}]]</h3>   
        <strong><p class="adjustPosition" th:text="${letter.letterEntry}"/></strong>
		<h4 class="niceOr" th:inline="text">This year, you have been [[${letter.naughtyOrNice}]]</h3>	
		<a class="niceOr" th:href="@{'/letters/edit/{id}'(id=${letter.getId()})}"><button class="btn btn-danger">Need to Fix Your Letter?</button></a>
		<a class="sendBtn" th:href="@{/}"><button class="btn btn-light buttonStyle">Send your Letter</button></a>
      </div>
    </div>
  </div>
</div>
	
	
	
	
	</div>
	
	<div th:replace="/fragments/styling :: body-links"></div>
	
</body>
</html>