<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <div th:replace="/fragments/styling :: head-style"></div>
    
    <title>Contact Us</title>
  </head>
  <body>
  	<div th:replace="fragments/navbar :: navbar" ></div>
  	
  	<div class="containerBig">
  	<div class="container contactContainer">
		<div class="row">
			<div class="col-md-12">
				<div class="card contactCard">
					<div class="card-header">
						<h1>Message Sent!</h1>
						<h3> Your Name: [[${message.name}]]</h3>
						<h3> Subject: [[${message.subject}]]</h3>
					</div>
					<div class="card-body">
						<strong><p> Your message to us: [[${message.message}]]</strong>
					</div>
					<div class="card-footer">
							<a th:href="@{/}"><button class="btn btn-success buttonStyle">Back To Home Page</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
  	
  	<div th:replace="/fragments/styling :: body-links"></div>
  	</body>
</html>